<div class="container-fluid">
  
  <div class="title row justify-content-center">
    <h1>Breezy Notes</h1>
  </div>

  <div class="row justify-content-center svg">
    <img src="../../assets/wind.svg" alt="">
  </div>

  <div class="row justify-content-center account-button">
    <button class="btn btn-outline-light" (click)="navigateToRegister()">Create an Account</button>
  </div>

  <div class="row justify-content-center login-link">
    <p>Already have an account? <span><a class="login" routerLink="/login">Login</a></span></p>
  </div>

</div>
